@import './reset.css';

/* VARIABLES */
:root {
    --tile-size: 40px;
}

/* FLEX */
.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}
