@import './reset.css';

/* OVERRIDES */
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

#pixi-root {
  max-height: 100%;
  aspect-ratio: auto 600 / 1000;
}

/* FLEX */
.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
