.wrapper {
    position: relative;
}

.touchGrid {
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
}

.tileOverlay {
    width: var(--tile-size);
    height: var(--tile-size);
    border: 1px solid red;
}

.activeTile {
    background-color: red;
    opacity: 0.3;
}
